/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html[data-theme='light'] body {
  background-color: #f3f4f6;
}

html[data-theme='dark'] body {
  background-color: #050505;
}
